.header {
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template: "logo nav contacts" auto / auto 1fr auto;
  padding: 20px 0;
  &__logo {
  grid-area: logo; 
  justify-self: center;
    &-img {
    width: 40px;
    height: 40px;
    }
  }
}
