.footer {
  padding-bottom: 30px;
  grid-area: footer;
  display: grid;
  grid-template: [s] "rate-func rate-func copyr" auto [r2]
                  [r2] "rate-class rate-class ." auto [r3]
                [r3] "contacts date date" auto [e] / 2fr 5fr;
  &__copyright {
    grid-area: copyr;
    
  }
  &__date {
    grid-area: date;
  }
  &__copyright,
  &__date {
    text-align: end;
    align-self: center;
    font-weight: 700;
  }
}
